/* .Card:hover{
    cursor: pointer;
} */

/* .img:hover{
    transform: scale(1.1);
} 

.Card:hover .intro{
    height: 210px;
    bottom: 222px;
    background: black;
}

.Card:hover .p{
opacity: 1;
visibility: visible;
} */
